<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/admin_style.css">
    <link rel = "stylesheet" href = "/sidebar.css">
    <title>Admin Page</title>
</head>
<body>
  <div class = "main">
    <div class = "sidebar">
      <%- include('./partials/sidebar'); %>
    </div>
    <div class = "content">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names">
          <ul id="usr">
              <% for (i in user) { %>
                  <li><a href="/admin/view/<%=user[i].name%>"><%=user[i].name%></a>
                  <div class = dropdown>
                    <button class="dropbtn">View Profile</button>
                    <div class="dropdown-content">
                      <from action="/admin" method="POST">
                        <label for "name"><b>Name</b></label>
                        <input type="name" placeholder="<%=user[i].name%>" id="name">
                        <lable for="email"><b>Email</b></lable>
                        <input type="email" placeholder="<%=user[i].email%>" id="email">
                        <button type="submit">Submit</button>
    
                      </from>
                    </div>
                  </div>
              <% } %>
          </ul>
    </div>
</body>
</div>
</html>
<script>
    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("usr");
      li = ul.getElementsByTagName('li');
      ul.style.display = "block";

    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>
