<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- H1 font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <!-- body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href ="/admin_style.css">
    <link rel="stylesheet" href ="/sidebar.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/home.css">
    <title>Admin Page</title>
</head>
<style>
  input {
        background-color: rgba(255, 255, 255, 0);
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        width: 250px;
        height: 20px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        }

  #usr li a{
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.966);
  }

  .user-list {
    background-color: rgba(122, 122, 122, 0);
    border-radius: 5px;
    margin: 5px;
    border: solid 3px rgba(199, 199, 199, 0.63);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.8s;
  }

  .user-list:hover {
    background-color: rgba(255, 255, 255, 0.267);
    margin: 2px;
    box-shadow: inset 1px 0 rgba(226, 15, 15, 0.8);
  }

  
</style>






<body>

  <div class="grid">

    <div class="side-bar">
        <div class="sidebar">
            <header>Your Profile</header>
            <div class="profile">
                <a href="/edit-profile/change-picture">
                    <img src="<%= user.profilePicture %>" alt="Profile Image Not Showing (please enter a valid image link)" class="profileImage">
                </a>
                <div class="profileName"><%= user.name %></div>
                <a href="/edit-profile/home" id="editProfileButton">Edit Profile</a>
            </div>
            <ul>
              <li><a href="home"><i class="test-two"></i>Home</a></li>
                <li><a href="search"><i class="test-three"></i>Buy Spotify Plays</a></li>
                <li><a href=""><i class="test-four"></i>Connect Artist Profile</a></li>
                <li><a href="https://www.musicart.pl/" target="_blank"><i class="test-five"></i>Musicart</a></li>
                <li><a href="help"><i class="test-six"></i>Help</a></li>
                
                <li><a href="settings"><i class="test-seven"></i>Settings</a></li>
            </ul>
        </div>
    </div>

    <div class="welcome">
        
        <div class="musicart">MusicArt</div>
        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: 50px;margin-bottom: 20px;">
            Admin Panel
        </h1>

        <div class="admin-info">
          <button class="back-button" onClick="location.href = '/admin/reported-issues';" id="reportedIssuesBtn" style="font-size: 15px; margin-top: 20px; margin-bottom: 20px;">View Reported Issues</button>
          <h3>Search for a user</h3>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names">
      <div>
        
        

        <ul id="usr">
            <h2>User Info</h2>
              <div class="user-history">

                <% for (i in user) { %>
                    
                    <li class="user-list"><a href="/admin/view/<%=user[i].name%>" style="text-align: center;"><%=user[i].name%></a>
                    <div class = dropdown>
                      <button class="back-button" style="margin: 0; margin-top: 10px;">View Profile</button>
                      <div class="dropdown-content">
                        <from action="/admin" method="POST">
                          <label for "name"><b>Name</b></label>
                          <input type="name" placeholder="<%=user[i].name%>" id="name">
                          <lable for="email"><b>Email</b></lable>
                          <input type="email" placeholder="<%=user[i].email%>" id="email">
                          <button type="submit">Submit</button>
      
                        </from>
                      </div>
                    </div>
                <% } %>
              </div>
          </ul>
    </div>




    
</div>

  
  <!-- <div class = "main">
    <div class="musicart">MusicArt</div>
    <div class = "sidebar">
      <%- include('./partials/sidebar'); %>
    </div>
    <div class = "content">
      <button onClick="location.href = '/admin/reported-issues';" id="reportedIssuesBtn">View Reported Issues</button>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names">
          <ul id="usr">
              <% for (i in user) { %>
                  <li><a href="/admin/view/<%=user[i].name%>"><%=user[i].name%></a>
                  <div class = dropdown>
                    <button class="dropbtn">View Profile</button>
                    <div class="dropdown-content">
                      <from action="/admin" method="POST">
                        <label for "name"><b>Name</b></label>
                        <input type="name" placeholder="<%=user[i].name%>" id="name">
                        <lable for="email"><b>Email</b></lable>
                        <input type="email" placeholder="<%=user[i].email%>" id="email">
                        <button type="submit">Submit</button>
    
                      </from>
                    </div>
                  </div>
              <% } %>
          </ul>
    </div> -->
</body>

</html>



<script>
    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("usr");
      li = ul.getElementsByTagName('li');
      ul.style.display = "block";

    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>
