<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="/search.css"> -->
    <title>Musicart: Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>



<body>
    
    <main class="search-main">
        <div class="top-bar">
            <form class="search-form" action="/search_result" method="GET">
                <a href="/home" class="back-button">Home</a>
                <h1 class="track-formatter">Search results for </h1>
                <h2>
                    <div class="search-back">
                        <a href="/search" class="back-button" id="editProfileButton">Go back to search</a>
                        
                    </div>
                </h2>
              <!-- <from> -->
              </form>
        </div>
          
        
    </main>

    <div class="search-results">
        <% data.music_info.forEach(result => { %>

            <div class="music-tiles">
                <p class="music-titles">  <br><h2><%= result[1].artist_name %> - <%= result[1].song_name %> </h2> </p>
            
                <p class="music-release">
                    
                    
                    <div class="music-release">
                        Released on: 
                        <%= result[1].release_date %>
                    </div>
                    
                    <div class="song-type"><%- result[1].song_type %></div>
                    
                </p> 
                
                <div class="pic">
                    <a href= "<%= result[1].song_url %>"> 
                        <img class="music-image" src="<%= result[1].song_image %>" width="200",height="200">
                    </a>
                </div>

                <div class="checkbox-container">
                    
                    <input type="checkbox" name="<%=result[0]%>" id="_checkbox">
                    <label for="_checkbox">
                        Add for Purchase
                    </label>
                </div>
                
                
            </div>
       
                
        <% }) %>
    </div>

    <footer class="footer">
        <button class="back-button">Checkout</button>
    </footer>
    

</body>

</html>

<script>
    const input = document.querySelectorAll("input")
    const button = document.querySelector("button")
    const songsById = []

    button.addEventListener("click", () => {
        for (let i = 0; i < input.length; i++) {
            if (input[i].checked) {
                let songId = input[i].name
                songsById.push({ id: songId })
            }
        }
    })

    button.addEventListener("click", () => {
    fetch('/create-checkout-session', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            items: songsById
        })
    }).then(res => {
        if (res.ok) return res.json()
        return res.json().then(json => Promise.reject(json))
    }).then(({ url }) => {
        // console.log(url)
        window.location = url
    }).catch(e => {
        console.error(e.error)
        })
    })

</script>