<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="grid">

        <div class="side-bar">
            <div class="sidebar">
                <header>Your Profile</header>
                <div class="profile">
                    <a href="/edit-profile/change-picture">
                        <img src="<%= user.profilePicture %>" alt="Profile Image Not Showing (please enter a valid image link)" class="profileImage">
                    </a>
                    <div class="profileName"><%= user.name %></div>
                    <a href="/edit-profile/home" id="editProfileButton">Edit Profile</a>
                </div>
                <ul>
                    <li><a href="search"><i class="test-three"></i>Buy Spotify Plays</a></li>
                    <li><a href="https://www.musicart.pl/" target="_blank"><i class="test-five"></i>Musicart</a></li>
                    <li><a href="help"><i class="test-six"></i>Help</a></li>
                    
                    <li><a href="settings"><i class="test-seven"></i>Settings</a></li>
                </ul>
            </div>
        </div>

        <div class="welcome">
            
            <div class="musicart">MusicArt</div>
            <h1 class="welcome-title" style="font-family: Verdana, Geneva, Tahoma, sans-serif;margin: 50px;">
                Welcome <%=user.name%>!
            </h1>
            <!-- Can display a success message/popup if you want.... -->
            <!-- <strong id="popupMessage" class="popupMsg">
                <em><%=message%></em>
            </strong> -->

            <div class="admin-info">
                <h2>Purchase History</h2>
                <% data.forEach(result => { %>
                <div class="admin-history">
                    
                        
                        <div class="admin-placeholder">
                            <p>Purchase ID</p>
                        </div>
                        
                        <div class="admin-results">
                            <input type="text" value="<%=result.id%>" readonly>
                        </div>

                        <div class="admin-placeholder">
                            <p>Email</p>
                        </div>

                        <div class="admin-results">
                            <input type="text" value="<%=result.email%>" readonly>
                        </div>
                        
                        <div class="admin-placeholder">
                            <p>Paid amount</p>
                        </div>

                        <div class="admin-results">
                            <input type="text" value="<%=result.amount_received/100%> <%=result.currency%>" readonly>
                        </div>
                </div>
                <div class="admin-results receipt-results">
                    <a class="back-button" id="receipt-button" href= "<%=result.receipt_url%>" target="_blank">Receipt Link</a>
                </div>
                <% }) %>
                    <% if (user.role === "Admin") { %>
                        <button class="back-button" onClick="location.href = '/admin';" id= "adminButton" style="margin-top: 5em;">Admin</button>
                <% } %>
            </div>


                
        </div>

        <div class="possible-content">
            other possible content ⛷
        </div>


        
    </div>

</body>
<!-- <script type="text/javascript">
    // close the div in 5 secs
    window.setTimeout("closeHelpDiv();", 5000);
    
    function closeHelpDiv(){
    document.getElementById("popupMessage").style.display=" none";
    }
</script> -->
</html>